{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('cartPage') }}
{% endblock %}

{% block body %}

    <div class="cart-page-section">
            {{ include('cart/_cart.html.twig') }}
            {% if cart.orderItems|length > 0 %}
                {{ form_start(form, {'attr': {'class': 'cart-page-container-checkout'}}) }}
                {{ include('cart/_billing_form.html.twig') }}
                {{ include('cart/_checkout.html.twig') }}
                {{ form_end(form) }}
            {% endif %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cartPage') }}
{% endblock %}

