<section class="section">
    <div class="products-hero">
        <div id="default-carousel" class="products-hero-carousel"
             data-carousel="slide">
            <!-- Carousel wrapper -->
            <div class="hero-carousel-wrapper">
                <!-- Item 1 -->
                {% for product in discountProducts %}
                    <article class="hidden duration-200 ease-in-out" data-carousel-item>
                        <div class="product-discount-circle">
                            <p class="text-white text-2xl font-bold pt-10 px-6">- {{ product.discount }} %</p>
                        </div>
                        <div class="hero-carousel-item-content">
                            <div class="item-content-badge">
                                <span class="badge badge-green">Discount</span>
                            </div>
                            <h2>Tendance dans la
                                catégorie {{ product.categories[0].name }}</h2>
                            <p>{{ product.name }}</p>
                            <ul>
                                {% for caracteristic in product.caracteristics %}
                                    <li>{{ caracteristic.value }}</li>
                                {% endfor %}
                            </ul>
                            <div class="item-carousel-cta">
                                <button type="button"
                                        class="button button-dark-blue">
                                    Acheter maintenant
                                </button>
                                <a href="#"
                                   class="cta-link">Plus
                                    de
                                    détails</a>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
            <!-- Slider indicators -->
            <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
                {% for product in discountProducts %}
                    <button type="button" class="w-3 h-3 rounded-full" aria-current="true"
                            aria-label="Slide {{ loop.index }}"
                            data-carousel-slide-to="{{ loop.index - 1 }}"></button>
                {% endfor %}

            </div>
        </div>
        <div class="products-hero-lastest-products">
            <article class="new-arrival">
                <div>
                    <h3>Nouvel arrivage</h3>
                    <p>{{ newProducts[0].name }}</p>
                </div>
                <a href="#" class="cta-link">
                    Plus de détails
                </a>
            </article>
            <article class="new-arrival">
                <div>
                    <h3>Nouvel arrivage</h3>
                    <p>{{ newProducts[1].name }}</p>
                    <a href="#" class="cta-link">
                        Plus de détails
                    </a>
                </div>
            </article>
            <article class="new-arrival">
                <div>
                    <h3>Nouvel arrivage</h3>
                    <p>{{ newProducts[2].name }}</p>
                </div>
                <div>
                    <a href="#"
                       class="cta-link">
                        Plus de détails
                    </a>
                </div>
            </article>
            <article class="new-arrival">
                <div>
                    <h3>Nouvel arrivage</h3>
                    <p>{{ newProducts[3].name }}</p>
                </div>
                <div>
                    <a href="#" class="cta-link">
                        Plus de détails
                    </a>
                </div>
            </article>
        </div>
    </div>
    <div class="swiper brands__slider">
        <ul class="swiper-wrapper">
            {% for brand in brands %}
                <li class="swiper-slide">
                    <div class="max-w-[127px]">
                        <img class="h-auto max-w-full object-cover" src="{{ brand.picture.path }}"
                             alt="{{ brand.picture.alt }}">
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>