<section class="section">
    <div class="swiper-slider-nav">
        <div class="swiper-slider-nav-header">
            <h2>Meilleures ventes</h2>
            <p>Les produits les plus vendus du mois</p>
        </div>
        <nav class="swiper-slider-nav-buttons">
            <button class="swiper-button-prev-top-products">
                <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"></path>
                </svg>
            </button>
            <button class="swiper-button-next-top-products">
                <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                </svg>
            </button>
        </nav>
    </div>
    <hr>
    <div class="swiper top-product__slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-slider-wrapper">
                    {% for product in topProducts|slice(0,10) %}
                        <article class="slider-item">
                            <div class="product-picture">
                                <a href="{{ path('app_product_show', {'categorySlug': product.categories[0].slug, 'subCategorySlug': product.categories[1].slug, 'productSlug': product.slug }) }}">
                                    <img src="{{ product.pictures[0].path }}"
                                         alt="{{ product.pictures[0].alt }}">
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="product-content-header">
                                    <h4 class="product-content-brand">{{ product.brand.name }}</h4>
                                    <h3 class="product-content-name">
                                        <a href="{{ path('app_product_show', {'categorySlug': product.categories[0].slug, 'subCategorySlug': product.categories[1].slug, 'productSlug': product.slug }) }}">{{ product.name }}</a>
                                    </h3>
                                    <p class="product-content-categories">
                                        {% for category in product.categories %}
                                            {% if category.parent is null %}
                                                <a
                                                href="{{ path('app_product_index', {'categorySlug': category.slug }) }}">{{ category.name }} </a>{% if not loop.last %},{% endif %}
                                            {% else %}
                                                <a
                                                href="{{ path('app_product_index', {'categorySlug': category.parent.slug, 'subCategorySlug': category.slug }) }}">{{ category.name }} </a>{% if not loop.last %},{% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                                <div class="product-content-body">
                                    <p class="product-content-price">{{ product.price }} €</p>
                                    <ul class="product-content-caracteristics">
                                        {% for caracteristic in product.caracteristics %}
                                            <li>{{ caracteristic.value }}{% if not loop.last %},{% endif %}</li>
                                        {% endfor %}
                                    </ul>
                                    {{ include('components/_cart_button.html.twig', {'product': product, 'buttonLabel': 'Ajouter au panier', 'className': 'button button-dark-blue'}) }}
                                </div>

                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slider-wrapper">
                    {% for product in topProducts|slice(10, 20) %}
                        <article class="slider-item">
                            <div class="product-picture">
                                <a href="{{ path('app_product_show', {'categorySlug': product.categories[0].slug, 'subCategorySlug': product.categories[1].slug, 'productSlug': product.slug }) }}">
                                    <img src="{{ product.pictures[0].path }}"
                                         alt="{{ product.pictures[0].alt }}">
                                </a>
                            </div>
                            <div class="product-content">
                                <div class="product-content-header">
                                    <h4 class="product-content-brand">{{ product.brand.name }}</h4>
                                    <h3 class="product-content-name">
                                        <a href="{{ path('app_product_show', {'categorySlug': product.categories[0].slug, 'subCategorySlug': product.categories[1].slug, 'productSlug': product.slug }) }}">{{ product.name }}</a>
                                    </h3>
                                    <p class="product-content-categories">
                                        {% for category in product.categories %}
                                            {% if category.parent is null %}
                                                <a
                                                href="{{ path('app_product_index', {'categorySlug': category.slug }) }}">{{ category.name }} </a>{% if not loop.last %},{% endif %}
                                            {% else %}
                                                <a
                                                href="{{ path('app_product_index', {'categorySlug': category.parent.slug, 'subCategorySlug': category.slug }) }}">{{ category.name }} </a>{% if not loop.last %},{% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                                <div class="product-content-body">
                                    <p class="product-content-price">{{ product.price }} €</p>
                                    <ul class="product-content-caracteristics">
                                        {% for caracteristic in product.caracteristics %}
                                            <li>{{ caracteristic.value }}{% if not loop.last %},{% endif %}</li>
                                        {% endfor %}
                                    </ul>
                                    {{ include('components/_cart_button.html.twig', {'product': product, 'buttonLabel': 'Ajouter au panier', 'className': 'button button-dark-blue'}) }}
                                </div>

                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>
