<section class="px-2 md:px-8 lg:px-16 pt-8 pb-8 bg-gray-100">
    <div class="flex flex-row justify-between pb-6">
        <div class="flex flex-col text-custom-blue-darker">
            <h2 class="text-3xl font-semibold pb-2">Meilleures marques</h2>
            <p>Les marques les plus vendus du mois</p>
        </div>
        <div class="flex flex-row items-center">
            <button class="border-2 border-custom-blue mx-2 p-1 rounded-md group hover:border-orange-400  transition-all swiper-button-prev-top-brands">
                <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                     class="h-4 w-4 text-custom-blue group-hover:text-orange-400  transition-all">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5"></path>
                </svg>
            </button>
            <button class="border-2 border-custom-blue mx-2 p-1 rounded-md group hover:border-orange-400 transition-all swiper-button-next-top-brands">
                <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                     class="h-4 w-4 text-custom-blue group-hover:text-orange-400 transition-all">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5"></path>
                </svg>
            </button>
        </div>
    </div>
    <hr class="w-full">
    <div class="swiper top-brands__slider">
        <div class="swiper-wrapper pt-6">
            <div class="swiper-slide">
                <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
                    {% for brand in topBrands|slice(0,8) %}
                        <div class="p-4 flex flex-col lg:flex-row gap-4 col-span-1 bg-white transition-all border border-gray-200 hover:border-custom-blue rounded-md hover:translate-y-[-5px] shadow-sm">
                            <div class="flex flex-col justify-center items-center w-full h-full">
                                <img src="{{ brand.products[0].pictures[0].path }}" alt="{{ brand.products[0].name }}"
                                     class="h-auto max-w-full object-cover">
                            </div>
                            <div class="flex flex-col justify-between w-full h-full">
                                <div class="flex flex-row w-full pb-2">
                                    <img src="{{ brand.picture.path }}" alt="{{ brand.name }}"
                                         class="h-[50px] md:h-[25px] max-w-full object-cover">
                                </div>
                                <p class="md:text-xs text-md text-custom-blue-darker pb-4">
                                    {% for category in brand.products[0].categories %}
                                        <a href="#"
                                           class="transition-all hover:text-orange-400">
                                            {{ category.name }}
                                        </a>
                                        {% if  loop.last %}...{% endif %}
                                        {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                                <hr class="w-full">
                                <p class="pt-4 text-xl md:text-lg text-custom-blue-darker">
                                    Jusqu'à
                                    <span class="font-semibold">- {{ brand.products[0].discount }}%</span>
                                </p>
                                <a href="#"
                                   class=" text-lg md:text-sm text-orange-400 hover:text-orange-300 transition-all">
                                    Acheter maintenant
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-slide">
                <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
                    {% for brand in topBrands|slice(8, 16) %}
                        <div class="p-4 flex flex-col lg:flex-row gap-4 col-span-1 bg-white transition-all border border-gray-200 hover:border-custom-blue rounded-md hover:translate-y-[-5px] shadow-sm">
                            <div class="flex flex-col justify-center items-center w-full h-full">
                                <img src="{{ brand.products[0].pictures[0].path }}" alt="{{ brand.products[0].name }}"
                                     class="h-auto max-w-full object-cover">
                            </div>
                            <div class="flex flex-col justify-between w-full h-full">
                                <div class="flex flex-row w-full pb-2">
                                    <img src="{{ brand.picture.path }}" alt="{{ brand.name }}"
                                         class="h-[50px] md:h-[25px] max-w-full object-cover">
                                </div>
                                <p class="md:text-xs text-md text-custom-blue-darker pb-4">
                                    {% for category in brand.products[0].categories %}
                                        <a href="#"
                                           class="transition-all hover:text-orange-400">
                                            {{ category.name }}
                                        </a>
                                        {% if  loop.last %}...{% endif %}
                                        {% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </p>
                                <hr class="w-full">
                                <p class="pt-4 text-xl md:text-md text-custom-blue-darker">
                                    Jusqu'à
                                    <span class="font-semibold">- {{ brand.products[0].discount }}%</span>
                                </p>
                                <a href="#"
                                   class=" text-lg md:text-sm text-orange-400 hover:text-orange-300 transition-all">
                                    Acheter maintenant
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>