{% extends 'base.html.twig' %}

{% import 'macros/crud_form_macros.html.twig' as macros %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('loginPage') }}
{% endblock %}

{% block body %}
    <section class="login-page-section">
        <h1>Inscription</h1>
        <p>Vous avez déjà un compte ?
            <a href="{{ path('app_login') }}">Se connecter</a>
        </p>
        <section class="content-section">
            <div class="row-section">
                <h2>Pourquoi s'inscrire ?</h2>
                <ul>
                    <li>Accéder à l'ensemble des fonctionnalités du site</li>
                    <li>Suivez vos commandes</li>
                    <li>Bénéficier de la livraison gratuite</li>
                </ul>
                {{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}
                {{ macros.formField(registrationForm.firstname.vars.label, registrationForm.firstname, 'form-field') }}
                {{ macros.formField(registrationForm.lastname.vars.label, registrationForm.lastname, 'form-field') }}
                {{ macros.formField(registrationForm.email.vars.label, registrationForm.email, 'form-field') }}
                {{ macros.formField(registrationForm.password.vars.label, registrationForm.password, 'form-field') }}
                {{ macros.formField(registrationForm.agreeTerms.vars.label, registrationForm.agreeTerms, 'form-field') }}
                {{ macros.formGroup(macros.formButton('S\'inscrire', 'button-blue'), 'form-button') }}
                <p>Pensez à vérifier vos spams si vous ne recevez pas l'email de confirmation</p>
                {{ form_end(registrationForm) }}
            </div>
            <div class="login-image-container ">
                <img src="{{ asset('images/welcome.svg') }}" alt="login" draggable="false">
            </div>
        </section>
    </section>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('loginPage') }}
{% endblock %}
