{% extends 'user/base_user.html.twig' %}
{% import 'macros/crud_form_macros.html.twig' as macros %}

{% block section %}
    <section class="content-section">
        <div class="content-header">
            <h2>Vous avez oublié votre mot de passe ?</h2>
        </div>
        <section class="row-section">
            {{ form_start(resetForm, {'attr': {'class': 'crud-form'}}) }}
            <p class="content-section-text">Entrez un nouveau mot de passe pour votre compte.</p>
            {{ macros.formField(resetForm.password.first.vars.label, resetForm.password.first, 'form-field') }}
            {{ macros.formField(resetForm.password.second.vars.label, resetForm.password.second, 'form-field') }}
            {{ macros.formGroup(macros.formButton('Réinitialiser le mot de passe', 'button-blue'), 'form-button') }}
            {{ form_end(resetForm) }}
            <div class="account-image">
                <img src="{{ asset('images/warning.svg') }}"
                     alt="Attention, noter bien votre mot passe si vous le changer">
            </div>
        </section>
    </section>
{% endblock %}
