{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('loginPage') }}
{% endblock %}

{% block body %}
    <section class="login-page-section">
        <h1>Connexion</h1>
        <p>De retour parmi nous ?</p>
        <section class="content-section">
            <div class="row-section">
                <form action="{{ path('app_login') }}" method="post" class="form">
                    {% if error is not null %}
                        <p class="form-error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                    {% endif %}
                    <div class="form-field">
                        <label for="username">Email</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}">
                    </div>
                    <div class="form-field">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="_password">
                    </div>
                    <div class="form-field">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on">
                        <label for="remember_me">Se souvenir de moi</label>
                    </div>
                    <div class="form-field">
                        <a href="#">Mot de passe
                            oublié ?
                        </a>
                    </div>
                    <input type="hidden" name="_target_path" value="/">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-field">
                        <button type="submit" class="button button-blue">Connexion</button>
                    </div>
                </form>
                <p>Pas encore inscrit ? <a href="{{ path('app_register') }}">C'est par ici !</a>
                </p>
                <p>Pour créer un compteur vendeur,
                    <a href="{{ path('app_register', {'type': 'seller'}) }}">
                        cliquez ici !
                    </a>
                </p>
            </div>
            <div class="login-image-container">
                <img src="{{ asset('images/login.svg') }}" alt="login" draggable="false">
            </div>
        </section>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('loginPage') }}
{% endblock %}