{% extends 'base.html.twig' %}

{% block title %}Le shop{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('productsPage') }}
{% endblock %}

{% block body %}
    {% set currentUrl = app.request.getUri %}
    <section class="products-page-section">
        {{ include('components/_nested_nav.html.twig') }}
        <div class="products-page-container">
            {{ include('product/_products_filters.html.twig') }}
            <section class="products-page-section">
                <div class="products-filters-button">
                    <button data-target="#filterModal" type="button">
                        {{ include('svg/filter.html.twig') }}
                        <span class="products-filters-button-button-text">Filtrer</span>
                    </button>
                </div>
                <div class="products-filters">
                    <p>{{ products.data|length }} produits trouvés sur {{ products.pagination.totalItems }}</p>
                    <div class="products-filters-sort">
                        <p>Date</p>
                        <ul class="products-filters-list">
                            <li class="products-filters-item">
                                <a href="{{ query_replace(currentUrl, {'order': 'DESC'}) }}">
                                    {{ include('svg/arrow_down.html.twig') }}
                                </a>
                            </li>
                            <li class="products-filters-item">
                                <a href="{{ query_replace(currentUrl, {'order': 'ASC'}) }}">
                                    {{ include('svg/arrow_up.html.twig') }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="products-filters-limit">
                        <p> Afficher</p>
                        <ul class="products-filters-list">
                            <li class="products-filters-item">
                                <a href="{{ query_replace(currentUrl, {'limit': 8}) }}">8</a>
                            </li>
                            <li class="products-filters-item">
                                <a href="{{ query_replace(currentUrl, {'limit': 16}) }}">16</a>
                            </li>
                            <li class="products-filters-item">
                                <a href="{{ query_replace(currentUrl, {'limit': 32}) }}">32</a>
                            </li>
                            <li class="products-filters-item">
                                <a href="{{ query_replace(currentUrl, {'limit': 64}) }}">64</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="products-list">
                    {% for product in products.data %}
                        {{ include('product/_product_card.html.twig', {'product': product}) }}
                    {% endfor %}
                </div>
                <div class="pagination-container">
                    {% if products.pagination.hasPreviousPage %}
                        {% set previousPageUrl = query_replace(currentUrl, {'page': products.pagination.currentPage - 1}) %}
                        <a href="{{ previousPageUrl }}" class="pagination-link">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="#5C74A6" viewBox="0 0 320 512">
                                <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                <path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"/>
                            </svg>
                        </a>
                    {% endif %}

                    {% for page in 1..products.pagination.totalPages %}
                        {% set pageUrl = query_replace(currentUrl, {'page': page}) %}
                        <a href="{{ pageUrl }}"
                           class="pagination-link {{ page == products.pagination.currentPage ? 'active' : '' }}">
                            {{ page }}
                        </a>
                    {% endfor %}

                    {% if products.pagination.hasNextPage %}
                        {% set nextPageUrl = query_replace(currentUrl, {'page': products.pagination.currentPage + 1}) %}
                        <a href="{{ nextPageUrl }}" class="pagination-link">
                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="#5C74A6" viewBox="0 0 320 512">
                                <!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                                <path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/>
                            </svg>
                        </a>
                    {% endif %}

                </div>
            </section>
        </div>
    </section>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('productsPage') }}
{% endblock %}
