<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <script src="https://kit.fontawesome.com/46eab4e946.js"
            crossorigin="anonymous"></script> {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}


</head>
<body class="bg-gray-50">

<!-- Header  -->
{{ include('components/_header.html.twig') }}


<!-- Body -->
<main class="main-container">
    <!-- Sidebar -->
    {{ include('components/_sidebar.html.twig') }}

    <section class="main-section">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="message">
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </section>
</main>
<!-- End Body -->

<!-- Footer -->
{{ include('components/_footer.html.twig') }}
<!-- End Footer -->
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
