{% extends 'seller/base_seller.html.twig' %}

{% block section %}
    <section class="seller-section">
        <div class="seller-header">
            <h2>Ajouter un produit dans ma boutique</h2>
        </div>
        {{ form_start(form, {'attr': {'class': 'crud-form'}}) }}
        <div class="form-field">
            {{ form_label(form.categories, 'Catégories du produit') }}
            {{ form_widget(form.categories, {'attr': {'class': 'tom-select'}}) }}
        </div>
        <div class="form-field">
            {{ form_label(form.name, 'Nom du produit') }}
            {{ form_widget(form.name, {'attr': {'class': 'form-input-text'}}) }}
        </div>
        <div class="form-field">
            {{ form_label(form.description, 'Description du produit') }}
            {{ form_widget(form.description) }}
        </div>
        <div class="form-group">
            <div class="form-field">
                {{ form_label(form.price, 'Prix du produit') }}
                <span class="form-input-price">
                    {{ form_widget(form.price) }}
                </span>
            </div>
            <div class="form-field">
                {{ form_label(form.discount, 'Réduction sur le produit') }}
                <span class="form-input-percentage">
                    {{ form_widget(form.discount) }}
                </span>
            </div>
            <div class="form-field">
                {{ form_label(form.quantity, 'Stock du produit') }}
                {{ form_widget(form.quantity) }}
            </div>
            <div class="form-field">
                {{ form_label(form.brand, 'Marque du produit') }}
                {{ form_widget(form.brand, {'attr': {'class': 'tom-select select-unique'}}) }}
            </div>
        </div>
        <div class="form-field">
            {{ form_label(form.caracteristics, 'Caractéristiques du produit') }}
            {{ form_widget(form.caracteristics, {'attr': {'class': 'tom-select'}}) }}
        </div>
        <div class="form-field crud-collection"
             data-prototype="{{ form_row(form.pictures.vars.prototype)|e('html_attr') }}">
            <p class="required">Images du produit</p>
            <span></span>
        </div>
        <div class="form-group">
            <button type="button" id="add-another-item" class="button button-blue ">Ajouter une image</button>
        </div>
        <div class="form-group">
            <button type="submit" class="button button-blue">Publier</button>
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}
