<aside class="sidebar">
    <label class="burger" for="menu-toggle">
        <span></span>
        <span></span>
        <span></span>
    </label>
    <h1><a href="{{ path('app_home') }}">Discountopia - Administration</a></h1>
    <input type="checkbox" id="menu-toggle" class="menu-toggle"/>
    <nav>
        <ul class="menu">
            <li class="menu-item close">
                <a href="#">
                    <label for="menu-toggle">
                        <i class="fa-solid fa-times"></i>
                        <span>Fermer</span>
                    </label>
                </a>
            </li>
            <li class="menu-item">
                <a href="{{ path('app_home') }}">
                    <i class="fa-solid fa-house"></i>
                    <span>Retour au site</span>
                </a>
            </li>
            <li class="menu-item {% if app.request.attributes.get('_route') == 'app_admin_dashboard' %}active{% endif %}">
                <a href="{{ path('app_admin_dashboard') }}">
                    <i class="fa-solid fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="menu-item {% if app.request.attributes.get('_route') == 'app_admin_user_index' %}active{% endif %}">
                <a href="{{ path('app_admin_user_index') }}">
                    <i class="fa-solid fa-user"></i>
                    <span>Utilisateurs</span>
                </a>
            </li>
            <li class="menu-item {% if 'app_admin_category' in  app.request.attributes.get('_route') %}active{% endif %}">
                <a href="{{ path('app_admin_category_index') }}">
                    <i class="fa-solid fa-list"></i>
                    <span>Catégories</span>
                </a>
            </li>
            <li class="menu-item {% if 'app_admin_caracteristic' in  app.request.attributes.get('_route') %}active{% endif %}">
                <a href="{{ path('app_admin_caracteristic_index') }}">
                    <i class="fa-solid fa-list"></i>
                    <span>Caractéristiques</span>
                </a>
            </li>
            <li class="menu-item {% if 'app_admin_brand' in  app.request.attributes.get('_route') %}active{% endif %}">
                <a href="{{ path('app_admin_brand_index') }}">
                    <i class="fa-solid fa-list"></i>
                    <span>Marques</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="user dropdown">
        <div class="dropdown-icon-container">
            <i class="fa-solid fa-user dropdown-icon"></i>
        </div>
        <div class="dropdown-menu hidden">
            <p>Connecté en tant que <strong>{{ app.user.userIdentifier }}</strong></p>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    </div>
</aside>
