<button class="{{ className }} add-to-cart" data-id="{{ product.id }}" data-name="{{ product.name }}"
        data-price="{{ product.price }}" data-quantity="1" data-picture-path="{{ product.pictures[0].path }}" data-picture-alt="{{ product.pictures[0].alt }}" data-url="{{ path('app_cart_index') }}">
    {{ buttonLabel }}
</button>