{% if app.user is null or (app.user is not null and 'ROLE_SELLER' not in app.user.roles) %}
{% set csrfToken = csrf_token('add-item') %}

<button class="{{ className }} add-to-cart"
        data-quantity="1"
        data-url="{{ path('app_cart_add', {'id': product.id }) }}"
        data-token="{{ csrfToken }}"
        data-product-id="{{ product.id }}"
>
    {{ buttonLabel }}
</button>
{% endif %}
