<header class="bg-gray-50 sticky top-0 w-full h-[50px] border-b border-gray-300 z-50 lg:h-[80px] relative">
    <div class="flex flex-row items-center w-full justify-between right-0 h-[50px] lg:h-[80px]">
        <label for="dropdownCategoriesInput"
               class="mx-4 cursor-pointer block left-0 z-50">
            <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                 xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                 class="w-6 h-6 text-orange-400 hover:text-orange-400 relative z-100">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z"></path>
            </svg>
        </label>
        <div class="mx-4">
            <a href="{{ path('app_home') }}" class="font-dm-sans font-bold text-custom-blue hover:text-orange-400">Discountopia</a>
        </div>
        <div class="flex-1 flex flex-row mx-4 hidden lg:block">
            {{ form_start(searchFormView, {'attr': {'class': 'flex flex-row w-full'}}) }}
                {{ form_widget(searchFormView.category, {'attr': {'class': 'font-dm-sans border-r-0 border-gray-300 rounded-l-lg text-xs text-custom-blue focus:border-custom-blue focus:ring-0'}}) }}
                <div class="relative flex-1">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500" fill="none" stroke="currentColor"
                             viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                    </div>
                    {{ form_widget(searchFormView.product, {'attr': {'class': 'block w-full p-4 pl-10 text-xs border-gray-300 text-custom-blue focus:border-custom-blue rounded-r-lg focus:ring-0', 'placeholder': 'Rechercher un produit', 'required': true}}) }}
            </div>
            {{ form_end(searchFormView) }}
        </div>
        <nav class="flex-1 mx-4 hidden md:block">
            <ul class="flex flex-row justify-between">
                <li class="px-2 mx-2">
                    <a href="#" class="hover:text-orange-400 text-custom-blue font-dm-sans ">Accueil</a>
                </li>
                <li class="px-2 mx-2">
                    <a href="#" class="hover:text-orange-400 text-custom-blue font-dm-sans ">Boutique</a>
                </li>
                <li class="px-2 mx-2">
                    <a href="#" class="hover:text-orange-400 text-custom-blue font-dm-sans ">Vendeurs</a>
                </li>
                <li class="px-2 mx-2">
                    <a href="#" class="hover:text-orange-400 text-custom-blue font-dm-sans ">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="flex flex-row mx-4">
            <button id="dropdownAccountButton" data-dropdown-toggle="dropdownAccount"
                    class="mx-2">
                <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                     class="w-6 h-6 text-custom-blue hover:text-orange-400">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"></path>
                </svg>
            </button>
            {% if app.user %}
                <div id="dropdownAccount"
                     class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-custom-blue"
                        aria-labelledby="dropdownAccountButton">
                        <li>
                            <a href="#"
                               class="block px-4 py-2 hover:bg-gray-100 ">Mon
                                compte</a>
                        </li>
                        <li>
                            <a href="#"
                               class="block px-4 py-2 hover:bg-gray-100 ">Mes
                                commandes</a>
                        </li>
                        <li>
                            <a href="#"
                               class="block px-4 py-2 hover:bg-gray-100 ">Réglages</a>
                        </li>
                        <li>
                            <a href="{{ path('app_logout') }}"
                               class="block px-4 py-2 hover:bg-gray-100 ">Déconnexion</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div id="dropdownAccount"
                     class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-custom-blue"
                        aria-labelledby="dropdownAccountButton">
                        <li>
                            <a href="{{ path('app_register') }}"
                               class="block px-4 py-2 hover:bg-gray-100 ">Inscription</a>
                        </li>
                        <li>
                            <a href="{{ path('app_login') }}"
                               class="block px-4 py-2 hover:bg-gray-100 ">Connexion</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
            <a href="#" class="mx-2">
                <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                     class="w-6 h-6 text-custom-blue hover:text-orange-400"
                >
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"></path>
                </svg>
            </a>
            <label for="dropdownMenuInput"
                   class="mx-2 block md:hidden">
                <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true"
                     class="w-6 h-6 text-gray-600 hover:text-orange-400">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"></path>
                </svg>
            </label>
        </div>
    </div>
    <input type="checkbox" id="dropdownMenuInput" class="hidden">
    <div id="dropdownMenu"
         class="block fixed top-[50px] right-[-1000px] w-[90%] bg-white shadow-lg transition-transform lg:hidden">
        <label for="dropdownMenuInput"
               class="absolute top-0 right-0 m-6">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" fill="#FF8A4C"
                 class="w-6 h-6">
                <!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
            </svg>
        </label>
        <ul class="pt-16 text-gray-700 flex flex-col items-center h-screen">
            <li class="p-4 w-full text-center hover:bg-gray-100">
                <a href="#"
                   class="block px-4 py-2 text-2xl hover:bg-gray-100 hover:text-orange-400">Accueil</a>
            </li>
            <li class="p-4  w-full text-center hover:bg-gray-100">
                <a href="#"
                   class="block px-4 py-2 text-2xl hover:bg-gray-100 hover:text-orange-400">Boutique</a>
            </li>
            <li class="p-4 w-full text-center hover:bg-gray-100">
                <a href="#"
                   class="block px-4 py-2 text-2xl hover:bg-gray-100 hover:text-orange-400">Vendeurs</a>
            </li>
            <li class="p-4 w-full text-center hover:bg-gray-100">
                <a href="#"
                   class="block px-4 py-2 text-2xl hover:bg-gray-100 hover:text-orange-400">Contact</a>
            </li>
        </ul>
    </div>
</header>


