<nav class="nested-nav">
    <p>
        <a href="{{ path('app_product_index', {categorySlug: category.slug}) ~ '?page=1' }}">{{ category.name }}</a>
        {% if subCategory.name is defined %}
            > <a href="{{ path('app_product_index', {categorySlug: category.slug, subCategorySlug: subCategory.slug})  ~ '?page=1' }}">
            {{ subCategory.name }}
        </a>
        {% endif %}
        {% if product.name is defined %}
            > {{ product.name }}
        {% endif %}
    </p>
</nav>