{% extends 'base.html.twig' %}

{% block title %}Mon compte {% endblock %}

{%  block stylesheets %}
    {{ parent() }}
    {% if "ROLE_CUSTOMER" in app.user.roles %}
        {{ encore_entry_link_tags('userPage') }}
    {% endif %}
    {% if "ROLE_SELLER" in app.user.roles %}
        {{ encore_entry_link_tags('sellerPage') }}
    {% endif %}
{% endblock %}

{% block body %}
    <section class="account-page-section">
        <h1>Bonjour {{ app.user.firstname }} {{ app.user.lastname }}</h1>
        {% if "ROLE_CUSTOMER" in app.user.roles %}
        <p>Depuis le tableau de bord de votre compte, vous pouvez facilement consulter vos dernières commandes,
            gérer vos adresses de livraison et modifier votre mot de passe et les détails de votre
            compte.
        </p>
        {% endif %}
        {% if "ROLE_SELLER" in app.user.roles %}
        <p>Depuis le tableau de bord de votre compte, vous pouvez facilement ajouter, modifier ou supprimer des produits
            de votre boutique.
            Vous pouvez également consulter les commandes reçues et mettre à jour vos informations personnelles.
        </p>
        {% endif %}
        <nav class="account-page-links">
            <ul class="nav nav-tabs">
                {% if "ROLE_CUSTOMER" in app.user.roles %}
                <li class="nav-item {% if app.request.attributes.get('_route') == "app_user_order" %}active{% endif %}">
                    <a href="{{ path('app_user_order') }}" class="nav-link">Commandes en cours</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == "app_user_order_history" %}active{% endif %}">
                    <a href="{{ path('app_user_order_history') }}" class="nav-link">Commandes passées</a>
                </li>
                {% endif %}
                {% if "ROLE_SELLER" in app.user.roles %}
                <li class="nav-item {% if app.request.attributes.get('_route') == "app_seller_index" %}active{% endif %}">
                    <a href="{{ path('app_seller_index') }}" class="nav-link">Mon dashboard</a>
                </li>
                <li class="nav-item {% if "app_seller_product" in app.request.attributes.get('_route') %}active{% endif %}">
                    <a href="{{ path('app_seller_product_index', {'page' : 1}) }}" class="nav-link">Mes produits</a>
                </li>
                <li class="nav-item {% if "app_seller_order" in app.request.attributes.get('_route') %}active{% endif %}">
                    <a href="{{ path('app_seller_order_index', {'page' : 1}) }}" class="nav-link">Mes ventes</a>
                </li>
                {% endif %}
                <li class="nav-item {% if app.request.attributes.get('_route') == "app_user_info" %}active{% endif %}">
                    <a href="{{ path('app_user_info') }}" class="nav-link">Mes informations</a>
                </li>
                <li class="nav-item {% if app.request.attributes.get('_route') == "app_forgot_password_reset_on_logged" %}active{% endif %}">
                    <a href="{{ path('app_forgot_password_reset_on_logged') }}" class="nav-link">Modifier mon mot de passe</a>
                </li>
            </ul>
        </nav>
        {% block section %}{% endblock %}
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if "ROLE_CUSTOMER" in app.user.roles %}
        {{ encore_entry_script_tags('userPage') }}
    {% endif %}
    {% if "ROLE_SELLER" in app.user.roles %}
        {{ encore_entry_script_tags('sellerPage') }}
    {% endif %}
{% endblock %}